@tailwind base;
@tailwind components;
@tailwind utilities;

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

a:-webkit-any-link:visited {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}